<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fourColor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FB3B9A6243DD5C600046CD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB3B9BF243DD5CB00046CD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB3B9CA243DD5CB00046CD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
